<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ELearning-Website</title>
    <style type="text/css">
        body{
            margin: 0;
            padding: 0;
            min-width: 100%;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 16px;
            line-height: 1.5;
            background-color: #FAFAFA;
            color: #222222;
        }
        a{
            color: #000;
            text-decoration: none;
        }
        h1{
            font-size: 24px;
            font-weight: 700;
            line-height: 1.25;
            margin-top: 0;
            margin-bottom: 15px;
            text-align: center;

        }
        p{
            margin-top: 0;
            margin-bottom: 24px;
        }
        table td{
            vertical-align: top;
        }
        /* Layout*/
        .email-wrapper{
            max-width: 600px;
            margin: 0 auto;
        }
        .email-header{
            background-color: #0070f3;
            padding: 24px;
            color:#ffff;
        }
        .email-body{
            padding: 24px;
            background-color: #ffff;
        }
        .email-footer{
            background-color: #f6f6f6;
            padding: 24px;
        }
        /* Button  */
        .button{
            display: inline-block;
            background-color: #0070f3;
            color: #ffffff;
            font-style: 16px;
            text-align: center;
            text-decoration: none;
            padding: 12px 24px;
            border-radius: 4px;
        }
        
    </style>
</head>
<body>
    <div class="email-wrapper">
        <div class="email-header">
            <h1>Welcome to CodeCanvas website</h1>
        </div>
        <div class="email-body">
            <h5>Hello <%= data.name %>,</h5>
            <p>Email: <%= data.email %></p>
            <h2>Subject: <%= data.subject %></h2>
            <p>Message: <%= data.messgae %></p>
            <p></p>
        </div>
        <div class="email-footer">
            <p>If you have any questions, please don't hesitate to contact us at <a href="mailto:support98@elearning.com">support@CodeCanvas.com</a></p>
        </div>
    </div>
</body>
</html>